@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url("modernscale.css");

html, body {
  -webkit-font-smoothing: antialiased;
}

body {
  max-width: 720px;
  padding: 16px;
  margin: 0 auto;
  font-family: Lato, sans-serif;
}

h1, h2, h3 {
  font-weight: 300;
}

td {
  padding: 4px 8px;
}

a {
  color: #2E86C1;
}

button {
  background-color: #2E86C1;
  color: white;
  padding: 8px 16px;
  border-radius: 3000px;
  border: 0;
  cursor: pointer;
}
